[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "==2.8.5"
asgiref = "==3.2.10"
numpy = "==1.19.0"
opencv-python = "==4.2.0.34"
pytz = "==2020.1"
sqlparse = "==0.3.1"
Django = "==3.0.7"
pillow = "*"
whitenoise = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
