.latest-list {
    display: flex;
    flex-wrap: wrap;
}

.latest-list .video {
    width: calc(92% / 4);
    min-width: 250px;
    margin: 0 1%;
}

.latest-list .video img {
    opacity: .9;
    border: 1px solid var(--borders-clr, black);
    border-radius: 2px;
    transition: .4s;
}

.latest-list .video img:hover {
    opacity: 1;
}

.video .video-body {
    margin-top: .5em;
}

.video .title {
    text-decoration: none;
    color: var(--variant-clr, black);
    font-size: 1.8rem;
    letter-spacing: .1em;
}

.video .title h6 {
    font-weight: 500;
}

.video .info {
    display: block;
    font-size: .8rem;
    color: var(--icons-clr, black);
}

.latest-list .video .img-a {
    position: relative;
    display: block;
    overflow: hidden;
}

.latest-list .video .img-a::before {
    z-index: 2;
    position: absolute;
    display: block;
    right: .1em;
    bottom: .1em;
    content: attr(data-duration);
    padding: .3em .5em;
    font-size: .8rem;
    color: rgb(230, 230, 230);
    background-color: rgb(34, 34, 34);
    border-radius: 2px;
    opacity: .8;
    transition: .4s;
}

.latest-list .video .img-a:hover::before {
    opacity: 1;
}

.section-title {
    margin: .5em 0;
    padding-left: .5em;
    font-size: 1.7rem;
    color: var(--variant-clr);
    letter-spacing: 2px;
    font-weight: 400;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message p {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: .5em;
    text-transform: capitalize;
    color: var(--variant-clr);
}

.message a {
    margin-top: .5em;
    background-color: var(--variant-clr);
    color: var(--background-b);
    padding: .6em 1.4em;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .4s;
    border: none;
    text-decoration: none;
}

.message a:hover, .message a:focus {
    background-color: var(--background-d);
    color: var(--variant-clr);
}