.videos-container {
    display: flex;
    flex-wrap: wrap;
}

.videos-container .video {
    width: calc(96% / 4);
    margin: .5%;
    min-width: 200px;
    margin-bottom: 1em;
}

.videos-container .video img {
    opacity: .9;
    border: 1px solid var(--borders-clr, black);
    border-radius: 2px;
    transition: .4s;
}

.videos-container .video img:hover {
    opacity: 1;
}

.videos-container .video .video-body {
    margin-top: .5em;
}

.videos-container .video .title {
    text-decoration: none;
    color: var(--variant-clr, black);
    font-size: 1.8rem;
    letter-spacing: .1em;
}

.videos-container .video .title h6 {
    font-weight: 500;
}

.videos-container .video .info {
    display: block;
    font-size: .8rem;
    color: var(--icons-clr, black);
}

.videos-container .video .img-a {
    position: relative;
    display: block;
    overflow: hidden;
}

.videos-container .video .img-a::before {
    z-index: 2;
    position: absolute;
    display: block;
    right: .1em;
    bottom: .1em;
    content: attr(data-duration);
    padding: .3em .5em;
    font-size: .8rem;
    color: rgb(230, 230, 230);
    background-color: rgb(34, 34, 34);
    border-radius: 2px;
    opacity: .8;
    transition: .4s;
}

.videos-container .video .img-a:hover::before {
    opacity: 1;
}
