.container-watch {
    display: flex;
    justify-content: space-between;
    color: var(--variant-clr, black);
}

.container-watch .left-container {
    width: 65%;
    max-width: 800px;
}

.container-watch .right-container {
    width: 32%;
}

/* Playlist */
.playlists-blackboard {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.playlists-container {
    position: fixed;
    z-index: 9;
    width: 20%;
    min-width: 300px;
    max-height: 70%;
    background-color: var(--background-b, whitesmoke);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: none;
    padding-bottom: 1em;
    overflow-y: scroll;
}

.playlist-form {
    width: 100%;
    color: var(--variant-clr);
    padding: 1em;
    display: flex;
    flex-direction: column;
    display: none;
}

.playlist-form .form-group {
    margin-bottom: .4em;
}

.playlist-form .form-group label {
    display: block;
    letter-spacing: 1px;
    margin-bottom: .4em;
    color: var(--variant-clr, black);
}

.playlist-form .form-group input[type='text'] {
    width: 100%;
    display: block;
    padding: .2rem .4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid var(--borders-clr, #ced4da);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.playlist-form button {
    align-self: flex-end;
    margin: .4em 0;
    padding: .3em .75em;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 0;
    background-color: var(--variant-clr);
    color: var(--background-c);
    transition: .4s;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

.playlist-form button:hover, .playlist-form button:focus {
    background-color: var(--background-c);
    color: var(--variant-clr);
}

.playlist-form .error {
    font-size: .8rem;
    color: rgb(255, 67, 67);
    margin: .5em .2em;
    display: none;
}

.playlists-container .header {
    display: flex;
    justify-content: flex-end;
    padding: .4em .8em;
}

.playlists-container .header button{
    font-size: 1.375rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: var(--icons-clr, whitesmoke);
    outline: none;
}

.playlists {
    margin-bottom: 1.5em;
}

.playlists .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 3em;
    padding-right: .7em;
    margin: .6em 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--variant-clr);
}

.playlists .item input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.playlists .item .checkmark {
    position: absolute;
    top: 0;
    left: 1em;
    height: 25px;
    width: 25px;
    background-color: var(--borders-clr, #ccc);
    border-radius: 3px;
    transition: .4s;
}

.playlists .item:hover input[type='checkbox'] ~ .checkmark {
    background-color: var(--variant-clr, #eee);
}

.playlists .item input[type='checkbox']:checked + .checkmark {
    background-color: royalblue;
}

.playlists .item .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.playlists .item input[type='checkbox']:checked ~ .checkmark:after {
    display: block;
}

.playlists .item .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.playlists .item i {
    color: var(--icons-clr, whitesmoke);
}

.create-playlist {
    display: table;
    margin: 0 auto;
    padding: .2em .75em;
    font-size: 1rem;
    background-color: var(--variant-clr);
    color: var(--background-c);
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

.create-playlist i {
    margin-right: .4em;
}

/* Left container */
.video-title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: .3em;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .7em 0;
}

.video-info {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.video-actions {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-actions button {
    background: transparent;
    color: var(--icons-clr, rgb(150, 150, 150));
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    position: relative;
}

.video-actions button::before {
    content: attr(data-title);
    position: absolute;
    right: 0;
    top: -30px;
    font-size: .9rem;
    background-color: var(--variant-clr, black);
    color: var(--background-b, whitesmoke);
    font-weight: bold;
    padding: 4px 6px;
    word-break: keep-all;
    white-space: pre;
    opacity: 0;
    transform: scale(0);
    transition: .4s;
    border-radius: 2px;
}

.video-actions button:hover::before {
    opacity: 1;
    transform: scale(1);
}

.impressions {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.impressions button.active i {
    color: royalblue;
}

.save-playlist {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: .4s;
}

.save-playlist i {
    margin-right: .25em;
}

.edit-btn {
    text-decoration: none;
    padding: .25em .75em;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 1px;
    color: whitesmoke;
}

.edit-btn.delete {
    background-color: red;
}

.edit-btn.modifie {
    background-color: royalblue;
}

.channel-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
}

.channel-info .right-side {
    margin-left: .9em;
}

.channel-info .right-side a {
    display: table;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: var(--variant-clr, black);
    margin-bottom: .3em;
}

.channel-info .right-side .subscribers {
    font-size: .8rem;
    color: var(--icons-clr, black);
}

.video-description {
    margin: 0 5em;
    line-height: 20px;
    font-size: .95rem;
    letter-spacing: .1em;
}

.video-description > p {
    overflow-y: hidden;
    max-height: 20px;
}

.video-description > p.show {
    max-height: 100%;
}

.video-description > .none {
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: .5em;
}

.show-decription-btn {
    margin: .5em 0;
    color: var(--variant-clr, black);
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.comments-container {
    padding: .75em 0;
}

.comments-list {
    padding: .5em 0;
}

.comments-list .comment {
    margin-bottom: 1.75em;
    width: 100%;
    display: flex;
    position: relative;
}

.comments-list .comment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .5em;
    border: 1px solid var(--borders-clr);
}

.comments-list .comment .body {
    width: 80%;
    min-width: 300px;
}

.comments-list .comment .body .header {
    margin-bottom: .3em;
}

.comments-list .comment .body .channel-title {
    font-weight: 700;
    font-size: .9rem;
    margin-right: .3em;
    color: var(--variant-clr, black);
    text-decoration: none;
}

.comments-list .comment .body .date {
    font-size: .7rem;
    color: var(--icons-clr);
}

.comments-list .comment .body .content {
    color: var(--variant-clr);
    font-size: 1rem;
    letter-spacing: .1em;
}

.comments-list .comment .control {
    position: absolute;
    top: 0;
    right: 0;
}

.comments-list .comment .control button {
    border: 0;
    background-color: transparent;
    color: var(--icons-clr);
    cursor: pointer;
    margin-left: 1em;
    font-size: 1.2rem;
}

.comments-container .new-comment {
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    padding: 0 .75em;
}

.comments-container .new-comment img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .5em;
    border: 1px solid var(--borders-clr);
    margin-right: .5em;
}

.comment-form {
    padding: .2em 0;
    width: 100%;
}

.comment-form .content {
    width: 100%;
    height: 100px;
    resize: none;
    display: block;
    padding: .375rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid var(--borders-clr, #ced4da);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    margin-bottom: .5em;
}

.comment-form .content:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--variant-clr, black);
}

.comment-form button {
    background-color: var(--variant-clr, black);
    color: var(--background-b, black);
    padding: .6em 1.1em;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .2s;
    border: none;
    display: none;
    margin: .5em 0 .5em auto;
    border-radius: 3px;
}

.comment-form button:hover, .comment-form button:focus {
    background-color: var(--background-d, black);
    color: var(--variant-clr, black);
}

.content-form {
    width: 100%;
    display: block;
}

.content-form textarea {
    width: 100%;
    display: block;
    resize: none;
    overflow: hidden;
    padding: .375rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--borders-clr, #ced4da);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    margin-bottom: .5em;;
}

.content-form button {
    background-color: var(--variant-clr, black);
    color: var(--background-b, black);
    padding: .6em 1.1em;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .2s;
    border: none;
    margin: .5em 0 .5em auto;
    border-radius: 3px;
}

.message {
    padding: 1em 0;
    text-align: center;
}

.message p {
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: .5em;
}

/* Right Container */

.related .video {
    display: flex;
    justify-content: space-between;
    margin-bottom: .75em;
}

.related .video .poster {
    width: 45%;
}

.related .video .poster img {
    border-radius: 2px;
    opacity: .9;
    border: 1px solid var(--borders-clr);
    transition: .2s;
}

.related .video .poster img:hover {
    opacity: 1;
}

.related .video .info {
    width: 53%;
}

.related .video .info  .bottom {
    font-size: .75rem;
    color: var(--icons-clr);
}

.related .video .info  .title {
    font-size: 1.2rem;
    color: var(--variant-clr);
    text-decoration: none;
    margin-bottom: .4em;
    display: block;
    font-weight: 900;
    letter-spacing: .05em;
}

.related .video .info  .channel {
    color: var(--variant-clr);
    text-decoration: none;
    margin-bottom: .3em;
    display: block;
}

.related .video .info  .channel h6 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .05em;
}

.playlist {
    border: 1px solid var(--borders-clr);
    margin-bottom: 1.25em;
}

.playlist .header {
    position: relative;
    background-color: var(--background-b);
    padding: .5em .75em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.playlist .header a {
    display: block;
    color: var(--variant-clr);
    text-decoration: none;
    margin-bottom: .4em;
}

.playlist .header .title {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: .1em;
}

.playlist .header .creator {
    font-size: 1.1rem;
    letter-spacing: .2em;
}

.playlist .header small {
    color: var(--variant-clr);
    font-size: .75rem;
}

.playlist.hide .body {
    height: 0 !important;
}

.playlist .body {
    background-color: var(--background-d);
    overflow-y: scroll;
    height: 300px;
}

.playlist .body .video {
    padding: .3em .75em;
    display: flex;
    justify-content: space-between;
}

.playlist .body .video.current {
    background-color: var(--background-a);
    border-top: 1px solid var(--borders-clr);
    border-bottom: 1px solid var(--borders-clr);
}

.playlist .body .video .poster {
    width: 30%;
    display: block;
}

.playlist .body .video .poster img {
    border: 1px solid var(--borders-clr);
    border-radius: 2px;
}

.playlist .body .video .info {
    width: 55%;
}

.playlist .body .video .info a {
    display: block;
    text-decoration: none;
}

.playlist .body .video .info .title {
    font-size: .9rem;
    color: var(--variant-clr);
    font-weight: 700;
}

.playlist .body .video .info .channel {
    font-size: .75rem;
    color: var(--icons-clr);
    margin-top: .5em;
}

.playlist .body .video .holder {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.playlist .body .video .holder button {
    border: 0;
    background-color: transparent;
    color: var(--icons-clr);
    cursor: pointer;
    margin-left: 1em;
    font-size: 1.2rem;
}

.playlist .body .video:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    background-color: var(--background-c);
}

.playlist .header #toggle-playlist {
    position: absolute;
    top: 5%;
    right: 5%;
    border: 0;
    background-color: transparent;
    color: var(--icons-clr);
    cursor: pointer;
    margin-left: 1em;
    font-size: 1.5rem;
}

.playlist .header #toggle-playlist .top {
    display: block;
}

.playlist .header #toggle-playlist .bottom {
    display: none;
}

.playlist.hide .header #toggle-playlist .top {
    display: none;
}

.playlist.hide .header #toggle-playlist .bottom {
    display: block;
}