{% extends 'accounts/main_base.html' %}

{% block content %}
<h2>Youtube clone Login</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username-input">Username :</label>
        <input id="username-input" name="username" type="text" placeholder="Enter your username" required />
    </div>
    <div class="form-group">
        <label for="password-input">password :</label>
        <input id="password-input" name="password" type="password" placeholder="Enter your password" required />
    </div>

    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    
    <button>Submit</button>
</form>

{% if messages %}
{% for msg in messages %}
<div class="message message-{{msg.tags}}">
    <p>{{ msg}} </p>
</div>
{% endfor %}
{% endif %}

<div class="form-footer">
    <p>Not a member? <a href="">Sign up now</a></p>
</div>

{% endblock %}