{% extends 'accounts/main_base.html' %}

{% load static %}

{% block content %}
<h2>Youtube clone Register</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username-input">Username :</label>
        <input name="username" id="username-input" type="text" placeholder="Enter your username" required />
    </div>

    <div class="form-group">
        <label for="username-input">Email address :</label>
        <input name="email" id="username-input" type="email" placeholder="Enter your email address" required />
    </div>

    <div class="form-group">
        <label for="password-input">password :</label>
        <input name="password1" id="password-input" type="password" placeholder="Enter your password" required />
    </div>

    <div class="form-group">
        <label for="password-input">confirme password :</label>
        <input name="password2" id="password-input" type="password" placeholder="Enter your password confirmation" required/>
    </div>

    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    
    <button>Create</button>
</form>

{% if messages %}
{% for msg in messages %}
<div class="message message-{{msg.tags}}">
    <p>{{ msg}} </p>
</div>
{% endfor %}
{% endif %}

<div class="form-footer">
    <p>Already have an account? <a href="">Login here</a></p>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}