{% extends 'main/main_base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/modifie.css' %}">
{% endblock %}

{% block content %}
<div class="modifie-lab">
    <div class="poster-container">
        <img src="{{ video.thumbnail_url }}" alt="video-poster" />
    </div>

    <form class="modifie-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="video-title">Title :</label>
            <input id="video-title" class="video-title" name="title" type="text" value="{{video.title}}" />
        </div>

        <div class="form-group">
            <label for="video-description">Description :</label>
            <textarea class="video-description" id="video-description" name="description" maxlength="1500"
            >{% if video.description %}{{ video.description }}{%endif%}</textarea>
        </div>

        <div class="form-group">
            <label for="video-content_type">Content Type :</label>
            <select id="video-content_type" class="video-content_type" name="content_type"></select>
        </div>
        
        <div class="form-group check-group">
            <label for="video-disable_comments">Disable Comments :</label>
            <input id="video-disable_comments" class="video-disable_comments" type="checkbox" 
            {% if not video.allow_comments %}checked{% endif %} />
        </div>

        <button><i class="fas fa-cloud-upload-alt"></i>Save</button>
    </form>
</div>
{% endblock %}