{% extends 'main/main_base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    {% block title_channel %}<title>{{channel.title}} - Youtube Clone</title>{% endblock %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/channel.css' %}" />
    {% block styles_channel %}{% endblock %}
{% endblock %}

{% block content %}
<div class="channel-header">
    <div class="wallpaper" style="background-image: url('{{channel.profil_background }}');"></div>
    <div class="info">
        <div class="info-left">
            <img src="{{channel.profil_img }}" alt="{{channel.title}}" />
            <div class="">
                <h3>{{channel.title}}</h3>
                <span data-subscriptions="{{subs}}">{{subs|intword}} subscriber{{ subs|pluralize }}</span>
            </div>
        </div>
        {% if request.user != channel.user %}
        <button class="subscribe-button" id="subscribe-button" data-id="{{channel.id}}" {% if is_subscribed %}data-subscribed{% endif %} >
            {% if is_subscribed %}subscribed{% else %}subscribe{% endif %}</button>
        {% else %}
        <a href="{% url 'channel:modifie' channel.id %}" class="edit-btn modifie">modifie</a>
        {% endif %}
    </div>

    <nav class="channel-nav">
        <ul>
            <li>
                <a class="{{ channel_index_classes }}" href="{% url 'channel:index' channel.id %}">Home</a>
            </li>
            <li>
                <a class="{{ channel_videos_classes }}" href="{% url 'channel:videos' channel.id %}">Videos</a>
            </li>
            <li>
                <a href="">Playlists</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
        </ul>
    </nav>
</div>

<div class="channel-container">
{% block content_channel %}{% endblock%} 
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/channel.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
    {% block scripts_channel %}{% endblock %}
{% endblock %}