{% extends 'main/main_base.html' %}

{% load static %}

{% block title %}
    <title>Edit {{channel.title}} - Youtube Clone</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/edit_channel.css' %}" />
{% endblock %}

{% block content %}
<div class="alert-backboard" id="alert-backboard"></div>
<div class="alert-display" id="alert-display">
    <button id="close-alert">
        <i class="fas fa-times"></i>
    </button>
    <p id="alert-text"></p>
</div>

<div class="channel-header">
    <label for="background-img" id="wallpaper" class="wallpaper" data-default="{{ channel.profil_background.url }}" style="background-image: url('{{ channel.profil_background.url }}');">
        <div>
            <i class="fas fa-edit"></i>
        </div>
    </label>

    <div class="info">
        <div class="info-left">
            <label for="profil-img" id="profil" class="profil-img" data-default="{{ channel.profil_img.url }}" style="background-image: url('{{ channel.profil_img.url }}');">
                <div>
                    <i class="fas fa-edit"></i>
                </div>
            </label>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="channel-title" type="text" name="title" value="{{ channel.title }}" maxlength="50" />
                <input class="hidden" type="file" id="profil-img" name="profil-img" accept="image/*" />
                <input class="hidden" type="file" id="background-img" name="background-img" accept="image/*" />
                <input class="hidden" type="text" id="about" name="about" maxlength="1500" />
                <input class="hidden" type="submit" id="submit-form" />
            </form>
        </div>
    </div>
</div>

<div class="about-form">
    <label class="about-label">Describe your channel in few lines :</label>
    <textarea class="about-area" id="about-area" maxlength="1500">{% if channel.about %} {{ channel.about }} {% endif %} </textarea>
    <label for="submit-form" class="submit-btn">Save</label>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/edit-channel.js' %}"></script>
{% endblock %}