{% extends 'channel/main_base.html' %}

{% load static %}
{% load humanize %}

{% block styles_channel %}
<link rel="stylesheet" href="{% static 'css/playlists_channel.css' %}">
{% endblock %}

{% block content_channel %}
<div class="playlists-container">
{% for playlist in playlists %}
<div class="playlist">
    <a class="poster" href="{% if playlist.videos.all.count > 0 %}
        {% url 'main:watch' %}?v={{playlist.videos.first.id}}&list={{playlist.id}}
        {% else %}None{% endif %}">
        <img src="{% if playlist.videos.all.count > 0 %}
        {{ playlist.videos.first.thumbnail_url }}{% else %}
        /media/images/thumbnails/default.jpeg        
        {% endif %}" alt="{{playlist.title}}">
        <div class="play">
            <i class="fas fa-play"></i>
        </div>
    </a>
    <a class="title" href="{% if playlist.videos.all.count > 0 %}
    {% url 'main:watch' %}?v={{playlist.videos.first.id}}&list={{playlist.id}}
    {% else %}None{% endif %}">{{playlist.title}} 
    {% if playlist.videos.all.count > 0 %}
    ({{ playlist.videos.count }} video{{ playlist.videos.count|pluralize }}) {% else %} (Empty) {% endif %}</a>
</div>
{% endfor %} 
</div>
{% endblock%}