{% extends 'channel/main_base.html' %}

{% load static %}
{% load humanize %}

{% block styles_channel %}
<link rel="stylesheet" href="{% static 'css/videos.css' %}" />
{% endblock %}

{% block content_channel %}
{% if videos.count > 0 %}
<div class="videos-container-control">
    <div class="dropdown-menu" id="dropdown-menu">
        <button id="order-by">Order By</button>
        <div class="dropdown-list" id="dropdown-list">
            <a href="{{ request.get_absolute_url }}?order=0">Recent Posted</a>
            <a href="{{ request.get_absolute_url }}?order=1">Older Posted</a>
            <a href="{{ request.get_absolute_url }}?order=2">Most Popular</a>
        </div>
    </div>
</div>
<div class="videos-container">
    {% for video in videos %}
    <div class="video">
        <a class="img-a" data-duration="{{ video.duration }}" href="{% url 'main:watch' %}?v={{video.id}}">
            <img src="{{ video.thumbnail_url }}" alt="{{ video.title }}" />
        </a>
        <div class="video-body">
            <a class="title" href="{% url 'main:watch' %}?v={{video.id}}">
                <h6>{{ video.title }}</h6>
            </a>
            <span class="info">{{ video.views|intword }} view{{ video.views|pluralize }} •
                {{ video.posted_date|naturaltime }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="message">
    <p>No Videos in This channel</p>
    {% if request.user == channel.user %}
    <a href="{% url 'main:upload' %}">upload</a>
    {% endif %}
</div>
{% endif %}
{% endblock%}


{% block scripts_channel %}
<script src="{% static 'js/videos_channel.js' %}"></script>
{% endblock %}